<template>
  <div class="home">
    <div style="width:95%; text-align:right; margin:20px; ">
      <button @click="$router.push({path:'/scraping-data-table'})">View History</button>
    </div>
    <div class="card-spacing">
      <div class="card-form">
        <label for="source">Source:</label>
        <select class="select-dropdown" id="keywords" v-model="source">
          <option
            v-for="(product, productIndex) in product_list"
            :key="productIndex"
            :value="product.id"
          >{{ product.value }}</option>
        </select>
        <br />

        <label for="keywords">
          keywords:
          <img
            width="10"
            v-if="keywordsList.length <= 4"
            src="../assets/add.svg"
            alt="add"
            @click="addKeywords()"
          />
        </label>
        <div v-for="(keyItem, keyItemIndex) in keywordsList" :key="keyItemIndex">
          <div style="display: flex;">
            <input class="custom-input" type="text" id="keywords" v-model="keyItem.keywords" />
            <div
              v-if="keywordsList.length != 1"
              style="width: 30px; align-item: center;display: flex; justify-content: center;"
            >
              <img
                src="../assets/cancel.svg"
                alt="cacnel"
                width="15"
                @click="removeKeywords(keyItemIndex)"
              />
            </div>
          </div>
        </div>
          <label for="source">Select State:</label>
          <select
            class="select-dropdown"
            id="state"
            v-model="selected_state"
            @change="selectStateByCity()"
          >
            <option
              v-for="(state_name, productIndex) in state"
              :key="productIndex"
              :value="state_name.id"
            >{{ state_name.name }}</option>
          </select>

        <label for="city">Select City:</label>
        <select class="select-dropdown" id="city" v-model="city">
          <option
            v-for="(city_name, productIndex) in cities"
            :key="productIndex"
            :value="city_name.name"
          >{{ city_name.name }}</option>
        </select>

        <label for="Email">Email:</label>
        <input class="custom-input" type="email" id="email" v-model="email" />
        <button class="submit-btn" @click="onclick">Submit</button>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";

export default {
  name: "Home",
  components: {},
  data() {
    return {
      product_list: [],
      source: "",
      // keywords: "",
      city: "",
      email: "",
      keywordsList: [
        {
          keywords: ""
        }
      ],
      state: [],
      cities: [],
      selected_state: ""
    };
  },
  created() {
    axios
      .get("http://localhost:8000/product/")
      .then(response => {
        console.log(response.data);
        this.product_list = response.data.data;
      })
      .catch(error => {
        console.log(error);
      });
    axios
      .get(
        "https://raw.githubusercontent.com/dr5hn/countries-states-cities-database/master/states%2Bcities.json"
      )
      .then(response => {
        console.log("cities", response.data);
        let cities = response.data;
        let new_cities = cities.filter(city => {
          return city.country_id == 101;
        });
        console.log("new_cities===========", new_cities);
        this.state = new_cities;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    addKeywords() {
      if (this.keywordsList.length <= 4) {
        this.keywordsList.push({
          keywords: ""
        });
      }
    },
    selectStateByCity() {
      for (let i = 0; i < this.state.length; i++) {
        if (this.state[i].id == this.selected_state) {
          this.cities = this.state[i].cities;
        }
      }
    },
    onclick: function() {
      console.log(this.keywordsList);
      var obj = {
        source: this.source,
        keywords: this.keywordsList,
        city: this.city,
        email: this.email
      };
      axios
        .post("http://localhost:8000/job/", obj)
        .then(response => {
          console.log(response.data);
          // this.product_list = response.data.data
        })
        .catch(error => {
          console.log(error);
        });
      if (localStorage.getItem("scrapingData")) {
        var list = JSON.parse(localStorage.getItem("scrapingData"));
        list.push(obj);
        localStorage.setItem("scrapingData", JSON.stringify(list));
        this.$router.push({ path: "/scraping-data-table" });
      } else {
        localStorage.setItem("scrapingData", JSON.stringify([obj]));
        this.$router.push({ path: "/scraping-data-table" });
      }
    },
    removeKeywords(index) {
      this.keywordsList.splice(index, 1);
    }
  }
};
</script>


<style>
.home {
  background: #f4f4f4;
}
.card-spacing {
  padding: 100px 0 0;
}
.home .card-form {
  width: 350px;
  margin: auto;
  background: #ffffff;
  border-radius: 25px;
  padding: 40px 20px;
}
.custom-input,
.select-dropdown {
  width: 100%;
  height: 40px;
  padding: 5px;
  box-sizing: border-box;
  margin: 5px 0 10px;
}
.submit-btn {
  margin-top: 20px;
  border: none;
  width: 100%;
  height: 40px;
  font-size: large;
  cursor: pointer;
}
img {
  cursor: pointer;
}
</style>
