<template>
    <div class="scraping-data-table">
        <div style="width:95%; text-align:right; margin:20px; ">
            <button @click="$router.go(-1)"> Back </button>
        </div>
        <div class="heading">
            Scraping Table
        </div>
        <div class="scroll-table">
            <table>
                <tr>
                    <th>Job id</th>
                    <th>Source</th>
                    <th>Keywords</th>
                    <th>City</th>
                    <th>Email ID</th>
                    <th>Status</th>
                    <th>Last Update Count</th>
                    <th>Date</th>
                    <th>Download File</th>
                    
                </tr>
                <tr v-for="(item, index) in scrapingList" :key="index">
                    <td>{{item.id}}</td>
                    <td>{{item.source}}</td>
                    <td>{{item.keyword}}</td>
                    <td>{{item.city}}</td>
                    <td>{{item.receiver_email}}</td>
                    <td>{{item.status}}</td>
                    <td>{{item.last_count}}</td>
                    <td>{{item.created_at}}</td>
                    <td><a :href="item.file_url" download v-if="item.file_url"><button> Download </button></a></td>
                    
                </tr>
            </table>
        </div>
    </div>
</template>
<script>
import axios from 'axios';
export default {
    name: 'scraping-data-table',
    data(){
        return{
            scrapingList: []
        }
    },
    created(){
    axios.get('http://localhost:8000/job/').then(
      response => {
        console.log(response.data)
        this.scrapingList = response.data.data
      }
    )
    .catch(
      error => {
        console.log(error)
      }
    )

  },
}
</script>

<style>
.scraping-data-table{
    background: #f4f4f4;
    height: 100vh;
}
.scroll-table{
    height: 80%;
    overflow: auto;
    width: 90%;
    margin: auto;
}
.heading{
    text-align: center;
    font-size: 20px;
    padding: 20px;
    font-weight: bold;
}
.scraping-data-table table{
    border-collapse: collapse;
    width: 100%;
    background: #ffffff;
}
.scraping-data-table th{
    font-weight: bold;
    text-align: left;
}
.scraping-data-table th, .scraping-data-table td{
    border: 1px solid;
    padding: 10px;
}
</style>